- model_class = Order
.page-header
  %h3 4小时内所有订单

%ul.nav.nav-tabs#myTab
  %li.active
    %a(href="#home") 最新点餐
  %li
    %a(href="#popular") 最受欢迎的菜
.tab-content
  .tab-pane.active#home
    %table.table.table-striped
      %thead
        %tr
          %th 用户名
          %th(style="width: 206px;") 点菜
          %th
          %th
      %tbody
        - @orders.each do |order|
          %tr(class="#{order.user == current_user ? 'my-order' : '' }")
            %td= User.find(order.user_id).nickname
            %td= order.order_dishes.collect {|od| if od.dish then od.dish.name + ' ' + od.number.to_s + '份' end }.join(',')
            %td=l order.created_at
            %td
              - if can? :edit, order
                = link_to '编辑', edit_order_path(order), :class => 'btn btn-mini'
                = link_to '删除', order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  .tab-pane#popular
    - dishes_number_by_name = @orders.inject({}) do |mem, order| 
      - order.order_dishes.each do | order_dish |
        - mem[order_dish.dish] ||= 0
        - mem[order_dish.dish] = mem[order_dish.dish] + order_dish.number
      - mem
    - dishes_number_by_name = dishes_number_by_name.sort_by { |k,v| v }.reverse
    %table.table.table-striped
      %thead
        %tr
          %th 菜名
          %th 份数
      %tbody
        - dishes_number_by_name.each do |k, v|
          %tr
            %th= if k then k.name end
            %th= v

= link_to ( Setting.block_ordering ? '开放点餐' : '禁止点餐' ), 
  toggle_block_ordering_users_path, 
  :class => 'btn btn-primary btn-large toggle_block_ordering', :method => :post, :remote => true if current_user.can_manage_dishes?